* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #2b172d;
    border-radius: 10px;
    border-width: 0px;
}

#workspaces button {
    padding: 5px;
    color: #9b6194;
    margin-right: 5px;
}

#workspaces button.active {
    color: #fd5789;
}

#workspaces button.focused {
    color: #fd5789;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #2b172d;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #1b0e1c;
    color: #fd5789;
    border-radius: 10px;
}

#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight {
    background: #2b172d;
    opacity: 1;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 0px solid #fd5789;
}

#backlight {
    border-radius: 20px 6px 6px 20px;
    border-right: 0px;
    margin-right: 2px;
}

#tray {
    border-radius: 20px;
    margin-right: 10px;
}

#workspaces {
    background: #2b172d;
    border-radius: 20px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    color: #edd4a8;
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #edd4a8;
    border-radius: 20px;
    margin-right: 5px;
}

#cpu {
    color: #fd5789;
    border-radius: 20px 6px 6px 20px;
    margin-left: 5px;
    border-right: 0px;
    margin-right: 2px;
}

#memory {
    color: #edd4a8;
    border-left: 0px;
    border-radius: 6px 20px 20px 6px;
    margin-right: 5px;
}

#network {
    color: #edd4a8;
    border-radius: 20px 6px 6px 20px;
    border-right: 0px;
    margin-right: 2px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 6px 20px 20px 6px;
    margin-right: 5px;
    border-left: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#pulseaudio.microphone {
    color: #e368d5;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px 0px 0px 6px;
    margin-right: 0px;
    padding-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-radius: 20px;
    margin-right: 10px;
}
