#inner-box {
  margin: 10px;
}

#input { 
  margin: 10px;
  border: 2px solid #fd5789;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5)
}

#text {
  margin-left: 1em;
}

#entry:selected {
  background-color: #fd5789;
  border-radius: 10px;
  color: #fd5789;
}

window {
  border: 2px solid #fd5789;
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(43, 23, 45);
}
