#inner-box {
  margin: 10px;
  margin-top: 0px;
}

#input { 
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px solid #b1c8c2;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5)
}

#text {
  margin-left: 1em;
}

#entry:selected {
  background-color: #434343;
  color: #434343;
  border-radius: 10px;
}

window {
  border: 2px solid #b1c8c2;
  color: #ffffff;
  border-radius: 10px;
  background-color: #292929;
}
